@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.cart button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 48px;
    width: 169px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color: #ffed679e;
    border: 2px #ffed6785;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 17px;
    padding: 7px;
    text-align: center;
    border-radius: 7px;
    /* background: rgba(235, 242, 139, 0.2); */
    backdrop-filter: blur(12px);
    cursor: pointer;
}

.cart img {
    height: 30px;
    width: 40px;
}

body {
    background-color: #fffaf2;
    position: relative;
}

html {
    position: relative;
}

nav {
    display: flex;
    justify-self: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 98vw;
    background-color: #faf0af;
    padding: 5px;
    border-radius: 48px;
    margin-left: 5px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 10px;
}

.logo img {
    width: 50px;
}

.name {
    font-family: "Great Vibes", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    margin-left: -20px;
}

.pic img {
    height: 50px;
    width: 60px;
}

.bar ul {
    display: flex;
    margin: 20px;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 17px;
    transition: all 0.3s ease;

}

ul li:hover {
    background-color: #ffec67;


    border-radius: 40px;
    transform: translateY(-3px);

}

.bar ul li {
    list-style: none;
    margin: 25px;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}

.hero {
    margin-top: 45px;
}

.hero .ba img {
    width: 150px;
    height: 144px;
    position: relative;
    top: -12px;
    display: flex;
    align-self: center;
    justify-self: center
}

.Line1 {
    text-align: center;
    margin-top: -56px;
    font-family: "Momo Trust Display";
    font-size: 60px;
    font-weight: 500;
}

.Line2 {
    text-align: center;
    font-family: "Momo Trust Display";
    font-size: 30px;
    font-weight: 300;

}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 60px;
    justify-items: center;
    margin-left: 4px;
    margin-right: 4px;
}

.outerbox {
    height: 263px;
    width: 18vw;
    border: 2px solid #F3F2EC;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.38, 0.12, 0.58, 0.52);
    transition-delay: 0.1s;
    border-radius: 20px;
    background-color: #F3F2EC;
    box-shadow: 0px 0px 10px rgb(118, 117, 117);
    position: relative;
    cursor: pointer;
}

.outerbox:hover {
    transform: scale(1.06);

}

.innerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerbox img {
    height: 129px;
    width: 17vw;
    padding: 7px;
    border-radius: 20px;
    position: relative;
}

.button {
    display: flex;
    justify-self: center;

}

.button button {
    height: 40px;
    width: 200px;
    border-radius: 14px;
    background-color: #ffec67;
    border: 2px #ffec67;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 20px;
    margin: 40px;
    text-align: center;
    padding: 10px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.38, 0.12, 0.58, 0.52);
    transition-delay: 0.1s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.06);
}

.about {
    text-align: center;
    font-family: "Momo Trust Display";
    padding-top: 7px;
    font-size: 15px;
}

.middlesec {
    background-color: #faf0af5c;
    width: 100%;
    height: 270px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgb(133, 129, 129);
}

.headline {
    text-align: left;
    font-family: "Momo Trust sans";
    font-size: 55px;
    margin: 20px;
    font-weight: 600;
}

.know {
    text-align: center;
    font-family: "Momo Trust sans";
    font-size: 27px;
    margin-top: 2px;
    font-size: clamp(12px, 2vw, 24px);
}

.foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px;
    justify-items: center;
    align-items: center;
}

.images img {
    height: 74px;
    width: 104px;

}

.images {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 19px;
    text-align: center;
    font-family: 'Momo Trust Sans';
    font-weight: 600;
}

.last {
    display: flex;
    justify-self: center;
    align-self: center;
}

.Login {
    height: 25vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    font-family: 'Momo Trust Display';
    font-weight: 400;
    box-shadow: 0px 0px 7px rgb(133, 129, 129);
    border-radius: 10px;
    font-size: 3.5vh;
}

.input {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.Login button {
    background-color: #ffec67;
    padding: 1vh;
    border: 2px #ffec67;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 15px;
    width: 7vw;
    border-radius: 10px;
    cursor: pointer;
}

.input input {
    font-family: 'Momo Trust Sans';
    font-weight: 300;
    padding: 1vh;
    font-size: 2.5vh;
    width: 15vw;
    border-radius: 10px;
}